:root {
  --fs-sans: "Poppins", sans-serif;
  --fw-light: 200;
  --fw-normal: 400;
  --fw-bold: 600;

  --fs-400: 0.9275rem;
  --fs-500: 1.25rem;
  --fs-600: 1.625rem;
  --fs-800: 2rem;
  --fs-900: 2.5rem;

  --clr-neutral-900: hsl(234, 12%, 34%);
  --clr-neutral-600: hsl(229, 6%, 66%);
  --clr-neutral-100: hsl(0, 0%, 98%);

  --clr-teal: hsl(180, 58%, 56%);
  --clr-red: hsl(0, 70%, 60%);
  --clr-blue: hsl(212, 75%, 62%);
  --clr-yellow: hsl(34, 89%, 65%);
}

header {
  text-align: center;
  margin-block: 6rem;
}

h1 {
  font-weight: var(--fw-light);
  font-size: var(--fs-900);
  font-family: "Poppins", sans-serif;
}

h1 span {
  display: block;
  font-weight: var(--fw-bold);
}

header > p {
  font-size: var(--fs-200);
  font-weight: var(--fw-light);
  color: var(--clr-neutral-600);
}

p span {
  display: block;
}

.wrapper {
  max-width: 1100px;
  margin-inline: auto;
}

.layout-grid {
  display: flex;
  align-items: center;
  gap: 30px;
}

.layout-grid > * {
  flex: 1;
}

.col {
  align-content: center;
}

.card {
  border-radius: 0.5rem;
  padding: 15px 25px;
  box-shadow: 0 1rem 1.5rem -0.5rem rgb(0 50 100 / 0.1);
}

h2 {
  font-weight: var(--fw-bold);
  font-size: var(--fs-500);
}

.card p {
  font-size: var(--fs-200);
  font-weight: var(--fw-light);
  color: var(--clr-neutral-600);
}
.card img {
  margin-left: 220px;
}

#supervisor-border {
  border-top: 6px solid var(--clr-teal);
  border-radius: 10px;
}

#team-border {
  border-top: 6px solid var(--clr-red);
  border-radius: 10px;
}

#karma-border {
  border-top: 6px solid var(--clr-yellow);
  border-radius: 10px;
  margin-top: 20px;
}

#calculator-border {
  border-top: 6px solid var(--clr-blue);
  border-radius: 10px;
}

.attribution {
  padding-top: 20px;
  text-align: center;
}

/* Tablet Screen */
@media (max-width: 768px) {
  .layout-grid {
    display: flex;
    flex-direction: column;
  }

  .card {
    max-width: 300px;
  }
}

/* Mobile Screen */
@media (max-width: 640px) {
  :root {
    margin-inline: 10px;
  }

  header {
    text-align: center;
    margin-block: 3rem;
  }

  h1 {
    font-weight: var(--fw-light);
    font-size: var(--fs-800);
    font-family: "Poppins", sans-serif;
  }

  h1 span {
    display: block;
    font-weight: var(--fw-bold);
  }

  header > p {
    font-size: var(--fs-200);
    font-weight: var(--fw-light);
    color: var(--clr-neutral-600);
  }

  p span {
    display: block;
  }

  .layout-grid {
    display: flex;
    flex-direction: column;
  }

  .card {
    max-width: 300px;
  }
}

